//COLORS
$color-primary: #f5df4e;
$color-secondary: #212529;

$color-grey-dark-1: #111418;
$color-grey-dark-2: #212529;
$color-grey-dark-3: #252b33;
$color-grey-dark-4: #4d555a;
$color-grey-dark-5: #6c757d;

$color-grey-light-1: #dddddd;
$color-grey-light-2: #dee3e4;
$color-grey-light-3: #e9ecef;
$color-grey-light-4: #eeeeee;

$color-white: #ffffff;
$color-black: #000000;

$color-brown: #3c3636;

//FONT
$default-font-size: 1.6rem;
