.navbar-top {
  background-color: $color-primary;
  color: $color-secondary;
  font-size: 1.6rem;

  display: flex;

  @include respond(phone) {
    flex-direction: column;
  }

  &--left {
    flex: 3;

    @include respond(tab-land) {
      flex: 4;
    }
    @include respond(phone) {
      .icon-box {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
  &--right {
    flex: 1;

    display: flex;
    justify-content: flex-end;

    @include respond(tab-land) {
      width: 100%;
    }
    @include respond(phone) {
      justify-content: center;
    }
  }
  .icon-box,
  .social-icons {
    display: flex;
    padding: 1rem;

    li {
      margin-right: 2.75rem;
    }
  }
  .social-icons {
    a {
      color: $color-black;
    }
    li {
      transition: all 0.3s;
      &:hover {
        transform: scale(1.3);
      }
    }
  }
}
.navbar {
  font-size: 1.6rem;
  font-weight: 600;
  background-color: $color-white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

  &-brand {
    padding: 1rem;
    img {
      width: 7rem;
    }
  }
  .nav-item {
    padding: 1rem 1.75rem;

    &:hover {
      color: $color-black;
    }
  }
  .navbar-toggler {
    border: none;

    &:focus {
      box-shadow: none;
    }
  }
}
